* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hero {
  margin: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 1fr;
}

.hero__video {
  grid-column: 1 / 3;
  width: 100%;
}

.hero__banner-1 {
  grid-column: 1 / 3;
}

.hero__banner-2 {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  height: 50rem;
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__banner-3 {
  grid-column: 1 / 3;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.productos .producto {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 2em;
  height: 15rem;
  padding-bottom: 2em;
  max-width: 100%;
}

.productos .producto:before {
  content: "";
  display: block;
  height: 0.1rem;
  width: 100%;
  background-color: black;
  z-index: 1;
  position: absolute;
  bottom: 22px;
  left: 0;
}

.productos .producto:after {
  content: "25";
  display: block;
  background-color: black;
  color: white;
  padding: 2px 5px;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
}

.productos .producto .producto-modelo {
  position: absolute;
  bottom: 3px;
  left: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 700;
}

.productos .producto-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: auto;
  padding: 1em;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  display: none;
}

.productos .producto-modal.active {
  margin: auto;
  background-color: white;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.productos .producto-modal .close-modal {
  font-weight: 700;
  font-size: 1.2em;
  padding: 0.3em;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.productos .producto-modal h2 {
  text-align: center;
  font-size: 1.9em;
  margin-bottom: 0.5em;
}

.productos .producto-modal .producto-modal__caracteristicas {
  text-align: center;
}

.productos .producto-modal .producto-modal__caracteristicas h3 {
  font-size: 1.2em;
  padding-bottom: 0.3rem;
  border-bottom: solid 2px;
  width: 90%;
  margin: auto;
}

.productos .producto-modal .producto-modal__caracteristicas li {
  padding: 0.5em;
  margin: 1em;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.productos .producto-modal .producto-modal__cta {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em;
  margin: 1em auto;
  background-color: darkseagreen;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

@media (min-width: 35em) {
  .hero__banner-1 {
    grid-column: 1 / 2;
  }
  .hero__banner-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 100%;
  }
  .hero__banner-3 {
    grid-column: 1 / 2;
  }
  .producto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1em;
    height: 15rem;
    width: 15rem;
  }
  .producto-modal img {
    max-width: 80%;
    margin: 0 auto;
  }
  .producto-modal__caracteristicas li {
    font-size: .9em;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}

@media (min-width: 35em) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .producto-modal .close-modal {
    margin-top: 12em;
  }
}

@media (min-width: 50em) {
  .wrapper {
    width: 92%;
    margin: auto;
  }
  .producto-modal {
    width: 92%;
  }
  .close-modal {
    margin-right: 2em;
  }
}

@media (min-width: 65em) {
  .wrapper {
    width: 80%;
    max-width: 1000px;
  }
  .producto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .producto-modal {
    width: 80%;
  }
  .producto-modal img {
    max-width: 60%;
    margin: auto;
  }
  .producto-modal__caracteristicas {
    margin: auto;
  }
  .producto-modal__caracteristicas li {
    display: inline-block;
  }
  .producto-modal__cta {
    width: 70%;
  }
}
