body {
  font-family: $font-base;
}

// Sección Hero
.hero {
  margin: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 1fr;
  &__video {
    grid-column: 1 / 3;
    width: 100%;
  }
  &__banner-1 {
    grid-column: 1 / 3;
  }
  &__banner-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    height: 50rem;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__banner-3 {
    grid-column: 1 / 3;
  }
} // ./ Sección Hero

// Sección Productos
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .producto {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin: 2em;
    height: 15rem;
    padding-bottom: 2em;
    max-width: 100%;
    &:before {
      // Dibuja línea de modelo de producto y precio
      content: "";
      display: block;
      height: 0.1rem;
      width: 100%;
      background-color: black;
      z-index: 1;
      position: absolute;
      bottom: 22px;
      left: 0;
    }
    &:after {
      // Imprime precio
      content: "25";
      display: block;
      background-color: black;
      color: white;
      padding: 2px 5px;
      font-size: 0.7em;
      font-weight: 700;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .producto-modelo {
      position: absolute;
      bottom: 3px;
      left: 0;
      font-size: 0.6em;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  
  .producto-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    padding: 1em;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    display: none;
    &.active {
      margin: auto;
      background-color: white;
      opacity: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .close-modal {
      font-weight: 700;
      font-size: 1.2em;
      padding: 0.3em;
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
    h2 {
      text-align: center;
      font-size: 1.9em;
      margin-bottom: 0.5em;
    }
    .producto-modal__caracteristicas {
      text-align: center;
      h3 {
        font-size: 1.2em;
        padding-bottom: 0.3rem;
        border-bottom: solid 2px;
        width: 90%;
        margin: auto;
      }
      li {
        padding: 0.5em;
        margin: 1em;
        -webkit-box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.3);
        box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.3);
      }
    }
    .producto-modal__cta {
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5em;
      margin: 1em auto;
      background-color: darkseagreen;
      -webkit-box-shadow: 0 0 2px black;
      box-shadow: 0 0 2px black;
    }
  }
} // ./ Sección Productos
