// Media queries

@media (min-width: 35em) {
    .hero {
        &__banner-1 {
            grid-column: 1 / 2;
        }
        &__banner-2 {
            grid-column: 2 / 3;
            grid-row: 2 / 4;
            height: 100%;
        }
        &__banner-3 {
            grid-column: 1 / 2;
        }
    }
    .producto {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin: 1em;
        height: 15rem;
        width: 15rem;
    }
    .producto-modal {
        img {
            max-width: 80%;
            margin: 0 auto;
        }
        &__caracteristicas {
            li {
                font-size: .9em;
                margin: 0;
                padding: 0;
                display: inline-block;
            }
        }
    }
}

@media (min-width: 35em) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .producto-modal {
        .close-modal {
            margin-top: 12em;
        }
    }
}

@media (min-width: 50em) {
    .wrapper {
        width: 92%;
        margin: auto;
    }
    .producto-modal {
        width: 92%;
    }
    .close-modal {
        margin-right: 2em;
    }
}


@media (min-width: 65em) {
    .wrapper {
        width: 80%;
        max-width: 1000px;
    }
    .producto {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
    .producto-modal {
        width: 80%;
        img {
            max-width: 60%;
            margin: auto;
        }
        &__caracteristicas {
            margin: auto;
            li {
                display: inline-block;
            }
        }
        &__cta {
            width: 70%;
        }
    }
}